<!--section-->
<section>
	<!--catálogo-->
	<div layout="row"
		 layout-align="center center"
		 layout-wrap
		 layout-margin 
		 ng-hide="Catalogue.hidden"
	>

		<!--banner-->
		<div class="md-whiteframe-z3" flex="80" style="height:200px">


		</div>
		
		<!--categories-->
		<div class="md-whiteframe-z3" flex="20" style="	height:800px" >
			 <accordion close-others="true">
              <accordion-group
                ng-repeat="catg in Catalogue.categories"
                heading="{{catg.label}}"    
              >

              	<div ng-repeat="subcatg in catg.subcategories" style="color:blue;cursor:pointer">
	                     <div ng-click="Catalogue.addTag(subcatg)"><span>{{subcatg}}</span></div>
                </div>                
               
              </accordion-group>
        	</accordion>
			
		</div>
		<!--tags and content-->
		<div class="md-whiteframe-z3" flex="60" style="height:800px" >
				<md-chips
				        ng-model="Catalogue.tags"
				        readonly="false"
				        placeholder="Enter a tag"
				        delete-button-label="Remove Tag"
				        delete-hint="Press delete to remove tag"
				        secondary-placeholder="+Tag">
				</md-chips>
				<!--caja de polos-->
				<div 
					layout-align="space-between start"
					layout-wrap
		 			layout-margin 
		 			layout="row">
		 			<!--polos-->
		 			<div ng-repeat="p  in Catalogue.polos">
						<div class="md-whiteframe-z3 polo" ng-click="Catalogue.mostrar(p.club)">
							<img src="{{p.image}}" style="height:100%;width:100%"/>

						</div>
					</div>
					<!--botones
		 			<div class="up-down"
		 			     layout-margin 
		 				>

			 			<md-button class="md-fab md-mini">a</md-button>
			 			<md-button class="md-fab md-mini">b</md-button>

		 			</div>-->
				</div>
		</div>	
		

	</div>


	<!--detalles del producto-->
	<div
		layout="row"
		 layout-align="center center"
		 layout-wrap
		 layout-margin 
		 ng-hide="!Catalogue.hidden">
				<!--nombre del producto-->
				<div class="md-whiteframe-z3" flex="80" 
					layout-align="center center"
					layout="row"
					style="height:80px;font-size:1.4em"
				>
					<span ng-click="Catalogue.hidden=false">Nike dri-fit </span>
				</div>
				<!--fotos del producto-->			
				<div class="md-whiteframe-z3" flex="50" style="height:300px">
					<img ng-src="{{Polos[4].image}}" style="heigh:100%;width:100%"/>
				</div>


				<!--caracteristicas del producto-->
				<div class="md-whiteframe-z3" flex="30" 
					layout-align="center center"
					layout="column"
					style="height:300px"
				>
					<br/>
					<!--tamaño-->
					<span>{{Details.size.label}}:</span>	
					<div
						layout="row"
						style="width:80%"
					>
						<md-slider flex ng-model="Details.size.ind" min="0" max="3" aria-label="blue" id="blue-slider" class="md-primary">
  						</md-slider>						
	      				<span>{{Details.size.value[Details.size.ind]}}</span>
      				</div>
      				<!--color-->
      				<span>{{Details.color.label}}:</span>	
      				<div 
      					layout="row"
						style="width:80%"
      				>
      						<md-slider flex ng-model="Details.color.ind" min="0" max="2" aria-label="blue" id="blue-slider" class="md-primary">
      						</md-slider>
		      				

	      					<div style="width:20px;height:20px;border:1px solid black;background:{{Details.color.value[Details.color.ind]}}">
	      					</div>
  					</div>
				</div>
				<!--descripción del producto-->
				<div class="md-whiteframe-z3" flex="80" 
					layout-align="center center"
					layout="row"
					style="height:80px;font-size:1.4em"
				>
					<span>Description</span>
				</div>
				<!--Banner-->
				<div class="md-whiteframe-z3" flex="80" style="height:300px">
						<carousel interval="1000">
			                   <slide ng-repeat="slide in Details.slides" active="slide.active"
			                   	style="height:100%;width:100%"
			                   >
		                       <img class="image-circle" ng-src="{{slide.image}}"    style="margin:auto;height:100%;width:50%"/>
		                      
                   		</slide>
             </carousel>

				</div>
											
	</div>
	<div layout="row"
		 layout-align="center center"
		 layout-wrap
		 layout-margin 
		 
	>


				<!--Reviews-->	
				<div class="md-whiteframe-z3" flex="80" style="height:400px"
					layout="column"
					layout-align="center center"
					ng-hide="!Catalogue.hidden"			
				>
		
						<!--comentarios-->					
						<div class="fb-comments" data-href="https://www.facebook.com/sportmarket10" data-numposts="5"></div>		

				</div>
	</div>
</section>